.boletin {
    color: $color-blueviolet;
    text-align: center;
    font-size: 55px;
    margin: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.boletin2 {
    color: $color-negro;
    text-align: left;
    font-size: 60px;
    margin: 50px;
    font-style: oblique;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.boletin3 {
    text-align: left;
    font-size: 20px;
    font: bold;
    margin: 50px;
    color: rgb(0, 0, 0);
}
