* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */

body {
    background-color: rgb(81, 236, 177);
}

form {
    margin-top: 50px;
}

body {
    font-family: Arial, sans-serif;
}

label {
    display: block;
    font-weight: bold;
    color: rgb(251, 251, 252);
}

textarea {
    display: block;
    width: 40%;
    padding: 9px;
    border: 4px solid #ab4493;
    border-radius: 15px;
    font-size: 15px;
    margin-bottom: 30px;
}

body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(81, 236, 177);
}

