.quienessomos {
    color: red;
    text-align: center;
    font-size: 40px;
    margin: 60px;
}

.comotrabajamos {
    color: red;
    text-align: center;
    font-size: 40px;
    margin: 50px;
}

.parrafo {
    text-align: left;
    font-size: 20px;
    font: bold;
    margin: 20px;
    color: black;
}

.En-Sierra-Morena,
.Sostenibilidad,
.Calidad,
.Innovación-culinaria,
.servicio-al-cliente,
.Orden-alfabetico {
    font-weight: bold;
    color: red;
    font-size: 28px;
}

.parrafo2 {
    text-align: left;
    font-size: 20px;
    font: bold;
    margin: 50px;
    color: black;
}

.orden-alfabetico {
    text-align: left;
    font-size: 20px;
    font: bold;
    margin: 50px;
    color: rgb(231, 6, 6);
}

.metodologia {
    text-align: left;
    font-size: 20px;
    font: bold;
    margin: 05px;
    color: rgb(0, 0, 0);
}

.finparrafo {
    text-align: center;
    font-size: 20px;
    font: bold;
    margin: 05px;
    color: rgb(199, 0, 0);
}

.Sobrenosotros {
    color: rgb(240, 12, 12);
    text-align: center;
    font-size: 55px;
    margin: 50pxs;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

